.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
}

.left-container {
  background-color: #1e1e1e;
  border-right: 1px solid #333;
  width: 20vw;
  padding: 2em;
}

.left-header {
  text-align: center;
  margin-bottom: 4em;
}

.left-header .logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #bb86fc;
}

.nav-container ul {
  list-style-type: none;
  padding: 0;
}

.nav-container li {
  font-size: 1.2em;
  padding: 1em 0;
  text-align: center;
  cursor: pointer;
  color: #bbbbbb;
}

.nav-container li:hover {
  background-color: #333;
  color: #bb86fc;
}

.right-container {
  background-color: #121212;
  width: 80vw;
  padding: 2em;
  overflow-y: auto;
}

.right-header-container h1 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

.right-header-container p {
  font-size: 1.2em;
  color: #bbbbbb;
  margin-top: 0.5em;
}

.right-body-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2em;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

ol, ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

.question-card {
  margin-bottom: 1rem;
  background-color: #1e1e1e;
  color: #ffffff;
}

.question-card .MuiCardContent-root {
  padding: 1.5rem;
}

.flowchart-content {
  max-width: 800px;
  margin: 0 auto;
}

.MuiTypography-h6 {
  margin-bottom: 1rem;
}

.MuiButton-root {
  margin-top: 1rem;
}

.MuiList-root {
  padding-left: 1rem;
}

.MuiListItem-root {
  padding-left: 0;
}

a {
  color: #3498db; /* Blue color for unvisited links */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:visited {
  color: #8e44ad; /* Purple color for visited links */
}

a:hover {
  text-decoration: underline;
}