body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  